@model BOS.SampleApp.Web.Features.Home.HomeViewModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1>Dashboard</h1>
    <hr />
    <h2>Welcome @Model.Username</h2>
    <h4>@Model.Id</h4>
    <h4>@Model.Email</h4>
</div>